* {
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  
  /* This group styles the Recipe Feed.*/
  *,
  .cost-section,
  .time-section,
  .diet-section,
  .allergy-section,
  .nutrition-section {
    box-sizing: border-box;
  }
  
  body,
  nav a,
  .profile-box,
  a,
  footer {
    color: black;
  }
  
  body {
    margin: 0.5rem;
  }
  /* This grouping styles the Profile Page using flexbox.*/
  nav,
  div .card-footer,
  .flex-container,
  .flex-cards,
  .profile-card,
  .profile-links {
    display: flex;
  }
  
  nav {
    width: 100%;
    align-items: center;
    padding: 10px;
  }
  
  nav a {
    font-size: 1rem;
    margin: 1rem;
    width: 100%;
    justify-content: center;
  }
  
  nav .hamburger-menu {
    width: 40px;
    height: 40px;
  }
  @media (min-width: 500px) {
    nav .hamburger-menu {
      display: flex; 
    }
    
    nav .page-links {
      display: none; 
    }
  }
  
  @media (min-width: 767px) {
    nav .hamburger-menu {
      display: none;
    }
    
    nav .page-links {
      display: block;
    }
  }

  h2.recipe-feed,
  h1.find-store {
    text-align: center;
    margin-bottom: 15px;
  }
  
  div .card-footer {
    justify-content: space-between;
    align-items: center;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .flex-container {
    height: 100%;
    justify-content: center;
    flex-direction: column;
  }
  .flex-cards {
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
  }
  
  div.card {
    flex: 0 0 300px;
    background-color: whitesmoke;
    margin: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.17), 0 1px 3px rgba(0, 0, 0, 0.17);
  }
  
  p {
    font-size: 12px;
  }
  
  div.card img {
    max-height: 300px;
    border-radius: 10px 10px 0 0;
    display: block;
    background-color: white;
    margin: 10px;
    object-fit: cover;
  }
  
  p a {
    color: blue;
  }
  
  body.groc,
  p,
  a {
    margin: 10px;
  }
  
  h2.groc {
    margin: 10px;
  }
  
  .profile-card {
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .profile-box {
    background: #d3d3d3;
    text-align: center;
    padding: 50px 100px;
    position: relative;
    border-radius: 30px;
  }
  
  .profile-box .profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #fff;
    padding: 10px;
    margin-top: 20px;
    object-fit: cover;
  }
  
  .profile-box .settings-icon {
    width: 50px;
    position: absolute;
    right: 40px;
    top: 40px;
    cursor: pointer;
  }
  
  .profile-box h1 {
    font-size: 25px;
    margin-top: 20px;
  }
  
  .profile-box p {
    font-size: 15px;
  }
  
  .profile-links {
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  
  .profile-links img {
    width: 75px;
    margin: 5px 5px;
    cursor: pointer;
  }
  
  div .card {
    margin-bottom: 5rem;
  }
  
  nav img {
    max-width: 100px;
    max-height: 100px;
    margin-left: auto;
  }
  
  .star {
    font-size: 20px;
    color: #c7c7c7;
    cursor: pointer;
  }
  
  .star-filled {
    font-size: 20px;
    color: #ffd700;
    cursor: pointer;
  }
  
  .text-muted {
    margin: auto;
  }
  
  header.rec {
    display: flex;
    justify-content: center;
  }
  
  p.time {
    text-align: center;
    font-size: 16px;
  }
  
  div.ing {
    background-color: whitesmoke;
  }
  
  li {
    padding: 5px;
  }
  
  .settings {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    background-size: cover;
    position: absolute;
    top: 0;
  }
  
  .settings .settings-box {
    position: relative;
    width: 600px;
    height: 450px;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
  }
  
  .settings .close-popup p {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 50px;
    transform: rotate(45deg);
  }
  
  a {
    text-decoration: none;
  }
  
  .settings .settings-box form img {
    width: 50px;
    height: 50px;
  }
  
  .specification-sections {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  /* This group further styles the Recipe Feed. */
  .cost-section,
  .time-section,
  .diet-section,
  .allergy-section,
  .nutrition-section {
    display: inline-block;
    width: 18%;
    flex: 1;
    padding: 0 10px;
    min-width: 200px;
    margin-bottom: 10px;
  }
  
  .rank-container {
    padding: 20px;
  }
  
  .rank-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  
  .rank-content .list-selector h2 {
    display: inline-block;
    margin: 10px;
  }
  
  .rank-food {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .rank-food img {
    width: 200px;
    height: 200px;
    padding: 20px;
  }
  
  .food-description {
    text-align: left;
  }
  
  .food-description h4 {
    font-size: 16px;
  }
  
  .rank-rating {
    font-size: 20px;
    border: solid;
    border-radius: 50%;
    padding: 10px;
  }
  
  .rank-food-title * {
    display: inline-block;
  }
  
  .rank-food-title img {
    width: 70px;
    height: 70px;
    padding: 0;
    margin: 0;
  }
  
  .underlined {
    text-decoration: underline;
  }
  
  footer {
    background-color: #d3d3d3;
    width: 100%;
  }
  
  header {
    margin-left: auto;
  }
  
  header * {
    display: inline-block;
  }
  
  header {
    display: flex;
    align-items: flex-start;
  }
  
  header h1 {
    font-size: 20px;
    margin-top: 40px;
  }

  /* CSS styling for a responsive recipe feed using flexbox! */
  .RecipeFeed {
    padding: 20px;
  }
  
  .filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .filter-group {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .recipe-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }